<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
   <!--
      change Parameter value to
      1."Chrome" if you want to run the test in chrome browser
      2."Firefox" if you want to run the test in Firefox browser
      3."IE" if you want to run the test in IE browser
      4."Safari" if you want to run the test  in Safari browser
      -->
    <classes>
    <class name="Validations.HomePageValidation"></class> 	
    </classes>
    </test>
 </suite> <!-- Suite -->